.modal-body {
  position: fixed;
  border-radius: 10px;
  background-color: #f5f6f7;
  z-index: 101;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.text {
  margin-bottom: 10px;
}

.modal-background {
  cursor: pointer;
}

.regular-input {
  width: 100%;
}
